@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-primary {
  @apply 
    flex items-center justify-center bg-slate-800 
    rounded-md text-lime-500 py-1.5 px-2 sm:px-3 
  hover:bg-slate-900 transition-colors text-sm sm:text-base
}

.btn-disabled {
  @apply 
    flex items-center justify-center bg-slate-300 rounded-md 
    text-white py-1.5 px-2 sm:px-3
    transition-colors text-sm sm:text-base
}

.detail-container {
  @apply 
    absolute top-0 left-0 bg-slate-900 overflow-hidden z-[1]
    bg-opacity-20 w-full h-full text-slate-200 flex 
    flex-col sm:flex-row gap-4 items-center justify-center 
    px-4 pt-[100px] pb-4 sm:pt-[80px]
}

.detail-content {
  @apply 
    absolute top-0 left-0 bg-slate-900 overflow-hidden z-[3]
    bg-opacity-20 w-full h-full text-slate-200 flex 
    flex-col sm:flex-row gap-4 items-center justify-center 
    px-4 pt-[100px] pb-4 sm:pt-[80px]
}


.modal-search {
  @apply 
    absolute z-50 rounded-full top-[90px] left-[50%] translate-x-[-50%] 
    w-[90vw] py-2 flex items-center justify-center bg-lime-500 
    shadow-3xl-dark transition-transform
}

.logo-transition {
  view-transition-name: logo-image;
}

::view-transition-old(logo-image) {
  animation-duration: 1s;
}
::view-transition-new(logo-image) {
  animation-duration: 1s;
}